.user-servers-sidebar {
  background: #1E1F22;
  display: block;
  position: fixed;
  width: 72px;
  height: 100%;
  align-content: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-servers-sidebar hr {
  height: 2px;
  width: 40px;
}

.server-icon {
	height: 48px;
	width: 48px;
	border-radius: 50%;
  margin: 8px
}