.profile-dropdown {
  position: fixed;
  bottom: 65px;
  left: 40px;
  background-color: black;
  width: 330px;
  border-radius: 8px;
  color: #f6f6f6;
  text-align: left;
  padding: 5px;
  font-size: 14px;
}

.profile-dropdown li {
  /* text-align: left; */
  margin: 10px 30px;
}

.profile-dropdown h1 {
  font-size: 20px;
}

.profile-dropdown h2 {
  font-size: 13px;
}

.profile-dropdown button {
  background: none;
  color:#f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.line{
  border-bottom: 1px solid #2c2f33;
  margin: 10px;
  padding-bottom: 8px;
}