.profile-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 72px;
  height:39px;
  justify-content: space-between;
  background-color: #292B2F;
  width: 216px;
  color: #FFFFFF;
  align-items: center;
  padding: 8px;
}