.server-button {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 72px;
  width: 232px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2B2D31;
  border-bottom: 1px solid #202124;
  font-weight: 600;
  color: white;
}