.full-modal-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(5%);
}

.modal-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}