.server-options {
  background: var(--black);
  position: fixed;
  left: 78px;
  top: 55px;
  border-radius: 4px;
  color: #a2a3a7;
  list-style: none;
  width: 202px;
  padding: 8px;
  font-size: 14px;
}

.server-options > hr {
  margin-left: 0px;
  width: 190px;
}

.warning {
  color: red;
}

.server-options > li {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 4px;
}

.server-options > li:hover {
  background: #404248;
  color: white;
}