.header-bar{
  background: var(--messages-black);
  grid-area: header-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-black);
  font-weight: 600;
}