.user-servers-sidebar {
  background: #1E1F22;
  position: fixed;
  left: 0px;
  display: block;
  width: 72px;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-x:hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; 
}

.user-servers-sidebar::-webkit-scrollbar {
  display: none;
}

.user-servers-sidebar hr {
  height: 2px;
  width: 40px;
}

.server-icon {
	height: 48px;
	min-width: 48px;
  align-items: center;
  justify-content: center;
}
.server-icon > * {
  height: 48px;
	width: 48px;
  border-radius: 50%;
}
.server-icon > p {
  background: #313338;
  margin: 8px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.server-icon *:active {
  border-radius: 15px;
  transition: 0.5s ease;
}

.server-icon > *:hover {
  border-radius: 15px;
  transition: 0.5s ease;
}

#server-create-button {
  margin-left: -1px;
  transform: translateX(-2px);
}

#server-create-button p:hover path {
  fill: var(--white);
}

#server-create-button p:hover {
  border-radius: 15px;
  background: var(--status-green);
  transition: 0.5s ease;
}