.user-servers-sidebar {
  background: #1E1F22;
  position: fixed;
  left: 0px;
  display: block;
  width: 72px;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-x: hidden;
}

.user-servers-sidebar hr {
  height: 2px;
  width: 40px;
}

.server-icon {
	height: 48px;
	width: 48px;
	/* border-radius: 50%; */
  align-items: center;
  justify-content: center;
}
.server-icon > * {
  height: 48px;
	width: 48px;
  border-radius: 50%;
}
.server-icon > p {
  background: #313338;
  margin: 8px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}