/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------- */

@font-face {
	font-family: 'ABC Ginto Nord';
	src: url(../assets/fonts/ABC\ Ginto\ Nord/ABCGintoNord-Regular-Trial.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Ginto Nord';
	src: url(../assets/fonts/ABC\ Ginto\ Nord/ABCGintoNord-Black-Trial.woff);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Ginto Nord';
	src: url(../assets/fonts/ABC\ Ginto\ Nord/ABCGintoNord-Bold-Trial.woff);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Ginto Normal';
	src: url(../assets/fonts/ABC\ Ginto\ Normal/ABCGintoNormal-Regular-Trial.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Ginto Normal';
	src: url(../assets/fonts/ABC\ Ginto\ Normal/ABCGintoNormal-Bold-Trial.woff);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Ginto Normal';
	src: url(../assets/fonts/ABC\ Ginto\ Normal/ABCGintoNormal-Thin-Trial.woff);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'gg sans';
	src: url(../assets/fonts/webfontkit/ggsans-normal-webfont.woff);
}

:root {
	/* --custom-guild-shop-channel-row-gradient: linear-gradient(113deg,#2f3570 1.98%,#422c70 94.48%);
	--custom-guild-shop-channel-row-gradient-hover: linear-gradient(113deg,#383f86 1.98%,#4d3385 94.48%);
	--custom-guild-shop-channel-row-border-gradient: linear-gradient(113deg,#6591ff,#d150ff);
	--custom-guild-shop-channel-row-glow: 0 0 4px rgba(189,149,255,0.5); */
	--custom-guild-shop-preview-pill-shadow-dark: -4px 5px #1d1d1d;
	--custom-guild-shop-preview-pill-shadow-light: -4px 5px #d7dce8;
	--brand: #5865f2;
	--brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
	--greyple: #99aab5;
	--sub-gray: #a2a3a7;
	--dark-not-black: #2c2f33;
	/* --focus-border: #00b0f4; */
	--status-green: #43b581;
	--text-link: #00b0f4;
	--off-white: #f6f6f6;
	--white: #fff;
	--not-quite-black: #23272a;
	--not-quite-black-rgb: 35,39,42;
	--black: #000;
	--border-black: #202124;
	--ekko-red: #de2761;
	--page-max-width: 1260px;
	--page-max-width-med: 1024px;
	--top-bar-height: 48px;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'gg sans';
	color: var(--off-white);
	background: var(--white);
	text-rendering: optimizeLegibility;
}

sub {
  font-size: 9pt;
  color: var(--sub-gray);
}

a {
	color: var(--text-link);
	text-decoration: none;
}

button {
	border: none;
}

button:hover {
  background: #404248;
  color: white;
}

.small-icon {
	height: 20px;
	width: 20px;
}

.server-icon {
	height: 48px;
	min-width: 48px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.large-icon {
	height: 82px;
	width: 82px;
	border-radius: 50%;
	border: solid var(--not-quite-black);
	border-width: 1px;
	align-items: center;
	justify-items: center;
}

.message-avatar {
	height: 40px;
	border-radius: 50%;
}

.profile-avatar {
	height: 32px;
	border-radius: 50%;
}

hr {
	height: 1px;
	border: none;
	background: #2c2f33;
}

@keyframes fadein {
  0% {
      transform: scale(0.5);
      opacity: 50%;
  }

  100% {
      transform: scale(1);
      opacity: 100%;
  }
}