nav {
  background-color: #3c4ae7;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
}

nav a {
  color: white
}

nav div {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-login-button {
  background-color: white;
  color: #23272a;
  border-radius: 40px;
  height: 40px;
  width: 70px;
  border: none;
}

.banner {
  position: relative;
}

.banner1 {
  position: absolute;
  transform: translate(-25%, -80px);
  z-index: -1;
  background-color: #3c4ae7;
}

.banner2 {
  position: absolute;
  transform: translate(-20vw, 194.3px);
}
.banner3 {
  position: absolute;
  transform: translate(75vw, 186.5px)
}

main {
  display: flex;
  background-color: none;
  color: white;
  padding: 0px 340px;
  height: 546px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 170%;
}

main p {
  max-width: 600px;
}

.title {
  font-size: 60px;
  margin-top: 150px;
  margin-bottom: 50px;
}

main button {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14pt;
  transition-duration: 0.4s;
}

#splash-button-2 {
  background-color: #23272a;
  color: white;
}

section {
  display: flex;
  color: #23272a;
  padding: 0px 150px;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  height: 600px;
  align-items: center;
  font-size: 16pt;
  line-height: 150%;
}

section div {
  max-width: 390px;
}

section h1 {
  line-height: 120%;
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  color: #23272a;
}

section svg {
  width: 200%;
  height: auto;
  max-width: 700px;
}

section:nth-child(even) {
  background-color: white;
}

section:nth-child(odd) {
  background-color: #f6f6f6;
}

section:last-child {
  background-color: #f6f6f6;
  height: 400px;
}

section:last-child h1 {
  text-align: center;
}

.splash-video {
  height: 800px;
  text-align: center;
}

.splash-video h1{
  text-align: center;
}


.splash-video svg {
  width: 90%;
  height: auto;
}
