body {
  background: none;
}

main {
  background-color: #5865f2;
  color: white;
}

section {
  color: black;
}

section h1 {
  color: black;
}

section:nth-child(even) {
  background-color: white;
}

section:nth-child(odd) {
  background-color: #f6f6f6;
}