
.message-input-container {
  grid-area: message-input;
  background-color: var(--messages-black);
  display: inline-block;
}

#message-input {
  margin: 0 20px;
  background-color: #40444B;
  color: var(--messages-white);
  overflow: hidden;
  font-family: 'gg sans';
  resize: none;
  font-size: 16px;
  outline: none;
  overflow: auto;
}

#message-input-submit {
  display: none;
}