
.message-input-container {
  grid-area: message-input;
  padding: 6px;
  background-color: var(--messages-black);
  display: flex;
  width: 100dvw;
}

#message-input {
  flex-wrap:wrap;
  background-color: #40444B;
  width: 100%;
}

#message-input-submit {
  display: none;
}