
.message-input-container {
  grid-area: message-input;
  background-color: var(--messages-black);
  display: inline-block;
}

#message-input {
  margin-left: 20px;
  background-color: #40444B;
}

#message-input-submit {
  display: none;
}