.channel-categories {
 overflow-x:hidden;
 -ms-overflow-style: none;
}

.user-servers-sidebar::-webkit-scrollbar {
 display: none;
}

.channels {
  width: 224px;
  height: 34px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: var(--member-color);
  align-items: center;
  margin-left: 6px;
}

#channel-icon {
  width: 20px;
  height: 20px;
  transform: translateY(-1px);
  padding-left: 4px;
}

#channel-setting-icon {
  padding-right: 4px;
  fill: #8E9297;
}

#channel-setting-icon:hover {
  fill: var(--messages-gray);
}

.channel-name {
  display: flex;
}

.channel-name > p {
  margin-left: 6px;
}

.channels:hover {
 background-color: #393C43;
 color: var(--white);
}

.channels.active {
  background-color: var(--member-bg-hover);
  color: var(--white);
}