.member-list-container {
  grid-area: friend-list;
  overflow-y: hidden;
  background-color: #2F3136;
  padding: 8px;
}

.member-container {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: 40px;
  grid-template-areas:
  "avatar name"
  ;
  align-items: center;
  gap: 10px;
}

.member-avatar {
  grid-area: avatar;
}

.member-name {
  grid-area: name;
}